.snippet {
  font-size: 1em;
  display: flex;
  flex-direction: row;
}

.snippet .text {
  flex-direction: column;
  margin-right: auto;
}

.text p {
  margin: 0;
}

.snippet i::before,
.snippet i {
  float: right;
  font-size: 1.5em;
}
