.snippet {
  font-size: 0.8em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.text p {
  margin: 0;
}

.day {
  font-weight: bold;
  font-size: 1.1em;
  height: 40px;
}

.snippet i::before,
.snippet i {
  font-size: 1.6em;
}
