
.weatherInfo h2 {
  font-size: 2rem;
  text-align: right;
  margin: 0;
}

.weatherInfo h1 {
  font-size: 28vw;
  margin: 0;
}

.weatherInfo img {
  width: 2em;
  height: 2em;
  margin: 0;
  padding: 0;
  fill: white;

}
@media only screen and (min-width: 1200px) {
  .weatherInfo h1 {
    font-size: 20vw;
    margin: 0;
    text-align: center;
  }
  .weatherInfo h2 {
    font-size: 5rem;
    text-align: center;
    margin: 0;
  }
}

@media only screen and (max-width: 1200px) {
  .weatherInfo {
    margin: 1rem 1rem 2rem 1rem;
  }
  
}
