.header {
  width: 100%;
  padding: 0;
}

.header nav {
  background: var(--background-1);
  box-shadow: 0 0 1em var(--background-1);
  font-size: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-bottom: 2px solid var(--primary);
}

.header nav a {
  width: stretch;
  height: 2em;
  line-height: 2em;
  font-size: 1.5rem;
  padding: 0 15px;
  min-width: 50px;
  text-align: center;
  background: rgba(255, 255, 255, 0);
  text-decoration: none;
  color: var(--text-color);
  will-change: background-color;
}

.header nav a:hover,
.header nav a:active {
  background: var(--primary);
  color: var(--alt-text-color);
}

.header nav a.active {
  background: var(--primary);
  color: var(--alt-text-color);
}

@media only screen and (min-width: 1200px) {
  .header nav a {
    height: 2em;
    line-height: 2em;
    font-size: 2rem;
  }
}
