.forecast {
  font-size: 2rem;
  overflow-y: auto;
  height: 330px;
}

::-webkit-scrollbar {
  display: none;
}

.forecast ul {
  list-style-type: none;

  padding: 0;
}

.forecast hr {
  border: 1px solid var(--text-color);
}
